[submodule "src/rocksdb"]
	path = src/rocksdb
	url = https://github.com/facebook/rocksdb
[submodule "src/cereal"]
	path = src/cereal
	url = https://github.com/USCiLab/cereal
[submodule "src/fmt"]
	path = src/fmt
	url = https://github.com/fmtlib/fmt
[submodule "src/htop"]
	path = src/htop
	url = https://github.com/hishamhm/htop
[submodule "src/zlib"]
	path = src/zlib
	url = https://github.com/madler/zlib
[submodule "src/git"]
	path = src/git
	url = https://github.com/git/git
[submodule "src/snappy"]
	path = src/snappy
	url = https://github.com/google/snappy
[submodule "src/leveldb"]
	path = src/leveldb
	url = https://github.com/google/leveldb
[submodule "src/sqlitebrowser"]
	path = src/sqlitebrowser
	url = https://github.com/sqlitebrowser/sqlitebrowser
[submodule "src/graphviz"]
	path = src/graphviz
	url = https://github.com/ellson/graphviz.git
[submodule "src/cmake"]
	path = src/cmake
	url = git://cmake.org/cmake.git
[submodule "src/cpprestsdk"]
	path = src/cpprestsdk
	url = https://github.com/Microsoft/cpprestsdk.git
[submodule "src/spdlog"]
	path = src/spdlog
	url = https://github.com/gabime/spdlog.git
[submodule "src/doxygen"]
	path = src/doxygen
	url = https://github.com/doxygen/doxygen.git
[submodule "src/the_silver_searcher"]
	path = src/the_silver_searcher
	url = https://github.com/ggreer/the_silver_searcher
[submodule "src/m4"]
	path = src/m4
	url = git://git.sv.gnu.org/m4
[submodule "src/lz4"]
	path = src/lz4
	url = https://github.com/Cyan4973/lz4
[submodule "src/tidy-html5"]
	path = src/tidy-html5
	url = https://github.com/htacg/tidy-html5.git
[submodule "src/poco"]
	path = src/poco
	url = https://github.com/pocoproject/poco.git
[submodule "src/zguide"]
	path = src/zguide
	url = https://github.com/booksbyus/zguide.git
[submodule "src/cppzmq"]
	path = src/cppzmq
	url = https://github.com/zeromq/cppzmq.git
[submodule "src/libzmq"]
	path = src/libzmq
	url = https://github.com/zeromq/libzmq.git
[submodule "src/ctags"]
	path = src/ctags
	url = https://github.com/universal-ctags/ctags.git
[submodule "src/googletest"]
	path = src/googletest
	url = https://github.com/google/googletest.git
[submodule "src/benchmark"]
	path = src/benchmark
	url = https://github.com/google/benchmark.git
[submodule "src/ceres-solver"]
	path = src/ceres-solver
	url = https://ceres-solver.googlesource.com/ceres-solver
[submodule "src/EASTL"]
	path = src/EASTL
	url = https://github.com/electronicarts/EASTL.git
[submodule "src/jemalloc"]
	path = src/jemalloc
	url = https://github.com/jemalloc/jemalloc.git
[submodule "src/rabbitmq-c"]
	path = src/rabbitmq-c
	url = https://github.com/alanxz/rabbitmq-c.git
[submodule "src/openssl"]
	path = src/openssl
	url = https://github.com/openssl/openssl.git
[submodule "src/rabbitmq-server"]
	path = src/rabbitmq-server
	url = https://github.com/rabbitmq/rabbitmq-server.git
[submodule "src/Celero"]
	path = src/Celero
	url = https://github.com/DigitalInBlue/Celero.git
[submodule "src/libsodium"]
	path = src/libsodium
	url = https://github.com/jedisct1/libsodium.git
[submodule "src/rtags"]
	path = src/rtags
	url = https://github.com/Andersbakken/rtags.git
[submodule "src/tmux"]
	path = src/tmux
	url = https://github.com/tmux/tmux.git
[submodule "src/libcuckoo"]
	path = src/libcuckoo
	url = https://github.com/efficient/libcuckoo.git
[submodule "src/junction"]
	path = src/junction
	url = https://github.com/preshing/junction.git
[submodule "src/turf"]
	path = src/turf
	url = https://github.com/preshing/turf.git
