[submodule "src/rocksdb"]
	path = src/rocksdb
	url = https://github.com/facebook/rocksdb
[submodule "src/cereal"]
	path = src/cereal
	url = https://github.com/USCiLab/cereal
[submodule "src/fmt"]
	path = src/fmt
	url = https://github.com/fmtlib/fmt
[submodule "src/htop"]
	path = src/htop
	url = https://github.com/hishamhm/htop
[submodule "src/zlib"]
	path = src/zlib
	url = https://github.com/madler/zlib
[submodule "src/git"]
	path = src/git
	url = https://github.com/git/git
[submodule "src/https:/github.com/google/leveldb"]
	path = src/https:/github.com/google/leveldb
	url = https://github.com/google/snappy
[submodule "src/snappy"]
	path = src/snappy
	url = https://github.com/google/snappy
[submodule "src/leveldb"]
	path = src/leveldb
	url = https://github.com/google/leveldb
[submodule "src/sqlitebrowser"]
	path = src/sqlitebrowser
	url = https://github.com/sqlitebrowser/sqlitebrowser
[submodule "src/graphviz"]
	path = src/graphviz
	url = https://github.com/ellson/graphviz.git
[submodule "src/cmake"]
	path = src/cmake
	url = git://cmake.org/cmake.git
[submodule "src/autoconf"]
	path = src/autoconf
	url = git://git.savannah.gnu.org/autoconf.git
[submodule "src/autogen"]
	path = src/autogen
	url = git://git.savannah.gnu.org/autogen.git
[submodule "src/cpprestsdk"]
	path = src/cpprestsdk
	url = https://github.com/Microsoft/cpprestsdk.git
[submodule "src/spdlog"]
	path = src/spdlog
	url = https://github.com/gabime/spdlog.git
[submodule "src/doxygen"]
	path = src/doxygen
	url = https://github.com/doxygen/doxygen.git
